// General Classes

body{
  background: url(./img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1,h2,h3{
  font-family: 'Russo One', sans-serif;
  color: white;
  margin-bottom: 40px;
}

h2,h3 {
  text-decoration: underline;
  margin-top: 60px;
}

p{
  color: white;
}

// Header Component

header {
  h1 {
    margin-top: 70px;
    font-size: 3.750002834646rem;
    text-align: center;
  }
}

// Add Fighter Components

input[type="number"] {
  margin-top: 30px;
}

button {
  width: 50%;
  display: block !important;
  margin: 30px auto;
}

// List Fighter Battle
table {
  background: white;
}

// Result Battle Component

.stage {
  width: 100%;  
  min-height: 400px;
  background: rgba($color: black, $alpha: 0.7);
  border: 1px solid rgba($color: white, $alpha: 0.2);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  margin-bottom: 30px;
}